body,
html {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: clip;
}

html {
	scroll-behavior: smooth;
}
body {
	color: $text-color;
	font-family: $font-main;
	font-size: $font-main-size;
	text-wrap: balance;
}

@include custom-scrollbar;

.wrapper {
	@extend %wrapper;
	grid-template-areas: 
		"header"
		"main"
		"footer"
	;
	grid-auto-rows: min-content auto min-content;
}

.header {
	grid-area: 'header';
}
main {
	grid-area: 'main';
}
footer {
	grid-area: 'footer';
}

