// Colors
$accent;
$brand;
$black;

// Fonts
$font-size;
$params-font: (
    $family: '',
    $src: '',
    $style: ''
);

// Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$double-extra-large: 1400px;